.popup__container {
  position: relative;
  box-sizing: border-box;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  margin: 0 auto;
  padding: 34px 36px 37px;
}
@media screen and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
